
.admin {
  margin-right: 10px;
}

#submit-answer {
  margin-left: 40px;
}

#admin-question-box, .spinner, #question-box, #username-warning-message, #warning-message {
  display: none;
}

#create-button, #home-button-box {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
