
.admin {
  margin-right: 10px;
}

#submit-answer {
  margin-left: 40px;
}

#admin-question-box, .spinner, #question-box {
  display: none;
}

#create-button {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
